<div id="navigation-links-container">
  <%= link_to root_path, class: "main-button" do %>
    <p>HISTOIRE</p>
    <div class="golden-div"></div>
  <% end %>
  <%= link_to champagnes_path, class: "main-button active" do %>
    <p>CHAMPAGNES</p>
    <div class="golden-div"></div>
  <% end %>
  <%= link_to contact_path, class: "main-button" do %>
    <p>CONTACT</p>
    <div class="golden-div"></div>
  <% end %>
</div>


<div id="mobile-div-champagnes"></div>


<section id="brut-section" class="gray not-on-mobile">
  <div class="bottle-image brut"></div>
  <div class="bottle-description right">
    <div class="title">BRUT</div>
    <h4>ASSEMBLAGE</h4>
    <p>52% Pinot Noir – 33% Meunier – 15% Chardonnay</p>
    <h4>STYLE</h4>
    <p >Au nez, apparaissent des notes de fuits jaunes.<br>
      En bouche, la fraicheur et le fruit dominent.<br>
      Un Champagne long en bouche.</p>
    <h4>CONSERVATION</h4>
    <p>
      Conservez les bouteilles couchées à L’abri de la lumière à une température maximale de 15°C.<br>
      Dégustez-les dans les deux années de votre achat à une température maximale de 6 à 8° C.
    </p>
    <%= link_to "COMMANDER", contact_path, class:"order-btn"  %>
  </div>
</section>

<div class="mobile-div-champagnes-intersection"></div>

<section id="rose-section" class="reverse-on-mobile" >
  <div class="bottle-description left">
    <div class="title">ROSÉ</div>
    <h4>ASSEMBLAGE</h4>
    <p>52% Pinot Noir – 33% Meunier – 15% Chardonnay</p>
    <h4>STYLE</h4>
    <p >Au nez, apparaissent des notes de fuits jaunes.<br>
      En bouche, la fraicheur et le fruit dominent.<br>
      Un Champagne long en bouche.</p>
    <h4>CONSERVATION</h4>
    <p>
      Conservez les bouteilles couchées à L’abri de la lumière à une température maximale de 15°C.<br>
      Dégustez-les dans les deux années de votre achat à une température maximale de 6 à 8° C.
    </p>
    <%= link_to "COMMANDER", contact_path, class:"order-btn"  %>
  </div>
  <div class="bottle-image rose" ></div>
</section>

<div class="mobile-div-champagnes-intersection"></div>


<section id="blanc-section" class="gray not-on-mobile">
  <div class="bottle-image blanc"></div>
  <div class="bottle-description right">
    <div class="title">BLANC DE BLANC</div>
    <h4>ASSEMBLAGE</h4>
    <p>52% Pinot Noir – 33% Meunier – 15% Chardonnay</p>
    <h4>STYLE</h4>
    <p >Au nez, apparaissent des notes de fuits jaunes.<br>
      En bouche, la fraicheur et le fruit dominent.<br>
      Un Champagne long en bouche.</p>
    <h4>CONSERVATION</h4>
    <p>
      Conservez les bouteilles couchées à L’abri de la lumière à une température maximale de 15°C.<br>
      Dégustez-les dans les deux années de votre achat à une température maximale de 6 à 8° C.
    </p>
    <%= link_to "COMMANDER", contact_path, class:"order-btn" %>
  </div>
</section>





