<div id="navigation-links-container">
  <%= link_to root_path, class: "main-button" do %>
    <p>HISTOIRE</p>
    <div class="golden-div"></div>
  <% end %>
  <%= link_to champagnes_path, class: "main-button" do %>
    <p>CHAMPAGNES</p>
    <div class="golden-div"></div>
  <% end %>
  <%= link_to contact_path, class: "main-button active" do %>
    <p>CONTACT</p>
    <div class="golden-div"></div>
  <% end %>
</div>




<section id="contact-section" class ="gray" >

  <div class="contact-and-map-container">
    <div class="contact-formular">
      <%= simple_form_for @site_contact do |f| %>
        <%= f.input :name, label: false, placeholder: "Nom" %>
        <%= f.input :address, label: false, placeholder: "Adresse" %>
        <%= f.input :email, label: false, placeholder: "Email" %>
        <%= f.input :tel, label: false, placeholder: "Téléphone" %>
        <%= f.input :subject, label: false, placeholder: "Objet" %>
        <%= f.input :message, as: :text, label: false, placeholder: "Message" %>
        <div class="flex">
          <%= f.input :accept_conf, label: false, label: false, default: "1" %>
          <p>En soumettant ce formulaire, j'accepte que les informations saisies soient traitées par Champagne Demonge dans le cadre de ma demande de contact et de la relation commerciale qui peut en découler. <%= link_to "En savoir plus en consultant notre politique de confidentialité", mentions_legales_path  %></p>
        </div>
        <%= f.button :submit, "Envoyer", class: "btn-dark" %>

      <% end %>
    </div>

    <div  id="map-container">
           <div
            id="map"
            data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
            data-home-url="<%= asset_url("home_map.png") %>"
            data-grape-url="<%= asset_url("grape_map.png") %>"
          >
      </div>
    </div>

  </div>

</section>


