<h1> Nouveau message les pétasses!</h1>

<p>
  - Nom :<%= @name %>
  <br>
  - Adresse: <%= @address %>
  <br>
  - Email: <%= @email %>
  <br>
  - Tel: <%= @tel %>
  <br>
  <br>
  - Sujet: <%= @subject %>
  <br>
  <br>
  - Message: <%= @message %>
</p>



